* {
  list-style: none;
  color: #00fdff;
  background-color: rgb(49, 49, 49);
  font-family: 'Share Tech Mono', monospace;
  font-weight: 600;
  margin: 0;
}

/* navbar start  */
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  margin-top: .5em;
  display: inline;
  float: right;
  padding-top: 1em;
  padding-right: .5em;
}

.left {
  float: left;
}

img {
  height: 3em;
  margin-left: 1em;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  padding: .5em;
}

a:hover {
  border-radius: 1em;
  box-shadow: 3px 3px #eee;
  background-color: rgb(255, 140, 0);
  transition: .5s;
  color: white;
}

/* navbar  end */

/* text animation begin */

.container1 {
  margin-top: 12em;
  margin-left: 1em;
}

.container2 {
  margin-left: 1em;
}

.icon {
  margin-top: .5em;
  color: #a445b2;
}

.about {
  display: flexbox;
  color: white;
  margin: 1em;
  margin-top: 2em;
  font-size: 2em;
}

h3 {
  margin-top: .5em;
  margin-bottom: .5em;
  color: gold;
}

.email {
  font-size: .8em;
}

.email:hover {
  background-color: transparent;
  box-shadow: none;
}

/* text animation end */

/* SKILLS BAR*/

.skill-bars {
  display: flexbox;
  margin: 0 auto;
  padding: 25px 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  width: auto;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.front {
  margin-left: 1em;
  font-size: 2em;
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 99%;
}

.bar .progress-line.css span {
  width: 75%;
}

.bar .progress-line.java span {
  width: 60%;
}

.bar .progress-line.flutter span {
  width: 70%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "99%";
}

.progress-line.css span::after {
  content: "75%";
}

.progress-line.java span::after {
  content: "60%";
}

.progress-line.flutter span::after {
  content: "70%";
}

/* skill cards*/
.wrapper {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: space-between;
}

.wrapper .card {
  background: transparent;
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}

.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}

.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle .box span {
  font-size: 38px;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}

.card .circle:hover .box span {
  transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
  font-size: 20px;
  font-weight: 600;
}

@media(max-width: 753px) {
  .wrapper {
    max-width: 700px;
    flex-direction: column;
  }

  .wrapper .card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media(max-width: 505px) {
  .wrapper {
    max-width: 500px;
  }

  .wrapper .card {
    width: 100%;
  }
}

/*text animation*/

.jt {
  position: relative;
  font-size: 20vmin;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px;
}

.jt__row {
  display: block;
}

.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}

.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}

.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}

.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36, 0, .06, 1) alternate infinite;
}

.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}

.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}

.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2);
}

.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3);
}

.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4);
}

.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {

  50%,
  100% {
    transform: translateY(0em)
  }

  0% {
    opacity: 0;
    filter: blur(10px);

  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}

.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}


/*Back to top*/

.back-to-top {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.back-to-top::after {
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

.back-to-top:hover {
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}


/*Text-Animation Two*/

.j {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 5px;
}

.jt_row {
  display: block;
}

.jt_row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}

.jt_row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}

.jt_row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}

.jt_row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt_row.jt_row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.jt_text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36, 0, .06, 1) alternate infinite;
}

.jt_row:nth-child(1) .jt_text {
  transform: translateY(-0.1em);
}

.jt_row:nth-child(2) .jt_text {
  transform: translateY(-0.3em) scaleY(1.1);
}

.jt_row:nth-child(3) .jt_text {
  transform: translateY(-0.5em) scaleY(1.2);
}

.jt_row:nth-child(4) .jt_text {
  transform: translateY(-0.7em) scaleY(1.3);
}

.jt_row:nth-child(5) .jt_text {
  transform: translateY(-0.9em) scaleY(1.4);
}

.jt_row:nth-child(6) .jt_text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {

  50%,
  100% {
    transform: translateY(0em)
  }

  0% {
    opacity: 0;
    filter: blur(3px);

  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.debug .jt_row:nth-child(even) {
  color: black;
  background: white;
}

.debug .jt_row:nth-child(odd) {
  color: white;
  background: black;
}

* {
  box-sizing: border-box
}

/*Vertical Timeline Thing*/
.edu {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
}

.timeline {
  display: flexbox;
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 3em;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 1.1em;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 1em;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-50px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(10px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

.game {
  display: flexbox;
  width: auto;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 4em;
}

.contact h2 {
  font-size: 2em;
}

.address,
p {
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.1em;
}

.email {
  font-size: 1em;
}

.form-group {
  padding: .5em;
}

label,
button {
  color: white;
  font-size: 1.1em;
}

button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255, 0.4);
  transition: .5s;
}

footer {
  text-align: center;
}

.foot:hover {
  box-shadow: none;
  background-color: transparent;
}